{% load static %}
<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/popper.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>

<!-- Sticky sidebar JS -->
<script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js'%}"></script>
<script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js'%}"></script>

<!-- Custom Js -->
<script src="{% static 'assets/js/script.js'%}"></script>
