{% load static %}
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Savings Club</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png'%}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">

    <!-- Linearicon Font -->
    <link rel="stylesheet" href="{% static 'assets/css/lnr-icon.css'%}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->

</head>